


#minguel{
     width: 90%;
    height: 80;
    margin: auto;
    background-color: brown;
    background-image: linear-gradient(red, white, black);
}
#minguel2{
    width: 900%;
    height: 2000px;
    margin: auto;
     background-image: url("https://www.minimundi.com.br/cdn/imagens/produtos/det/miniatura-carro-nissan-gtr-r35-lb-silhouette-2020-1-43-solido-s4311203.jpg");
    background-size: auto;
    background-repeat: repeat-x;
    background-position: 50%;
    background-attachment: fixed;
}


