#id{
    text-align: center;
   
   
   
    
}

#disney{
    background-color: rgb(25, 25, 26);
    text-align: center;

}

#branco{
    background-color: aliceblue;
    width: 1200px;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10%;
    text-align: ;
    
   
}
#texto{
    text-align: center;
}